<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/public/css/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Popular Cars</title>
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="Title"><h1>AUTOMOTO</h1></div>
		
		<nav>
			<ul>
				<li id="Home" class="element">
					<a href="/" class="navlink">Home</a>
				</li>
				<li id="fastcars"  class="element ">
					<a href="/fast-cars"  class="navlink">Fast cars</a>
				</li>
				<li id="popularcars" class="element">
					<a href="/popular-cars"  class="navlink">Popular cars</a>
				</li>
				<li id="truckss" class="element">
					<a href="/trucks"  class="navlink">Trucks</a>
				</li>
			</ul>
		</nav>
		<img class="BackImg" src="https://mrwallpaper.com/images/hd/white-dodge-challenger-srt-hellcat-8ijji8vzyjtnqlfg.jpg">
		<script src="/public/js/script.js"></script>
		<script>
			console.log("hello from the server");
		</script>
	</body>
</html>
